body, html {
    height: 100%;
    margin: 0;
}

body {
    background-image: url('https://img.freepik.com/free-photo/grunge-paint-background_1409-1337.jpg?w=1060&t=st=1680824172~exp=1680824772~hmac=16765c3603c84e698a629e2c30c3fb7bfaf64e068f511c283017f9fd956cae2a');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    text-align: center;
    background-image: url('https://t3.ftcdn.net/jpg/01/91/78/32/240_F_191783282_0TVrx5VrvrkpDHSKdjjI87HkbXJy5TMw.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    animation: pulse 4s ease-in-out infinite;
    padding: 50px;
    border-radius: 20px;
    box-sizing: border-box;
}

.user-info {
    margin-bottom: 20px;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
}

p {
    font-size: 20px;
    margin-bottom: 20px;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
}

form {
    display: inline-block;
    margin-bottom: 20px;
}

input[type="text"] {
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #ccc;
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.1);
    transition: border-color 0.2s ease-in-out;
}

input[type="text"]:focus {
    border-color: #0099ff;
}

input[type="submit"] {
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #0099ff;
    color: #fff;
    border: none;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s ease-in-out;
}

input[type="submit"]:hover {
    background-color: #007acc;
}

input[type="submit"]:hover {
    background-color: #007acc;
}

.result-message {
    font-size: 20px;
    margin-bottom: 20px;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
}

button {
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #0099ff;
    color: #fff;
    border: none;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s ease-in-out;
    margin-right: 10px;
}

button:hover {
    background-color: #007acc;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}
