body {
    background: url('https://images.unsplash.com/photo-1464618663641-bbdd760ae84a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8d2Vic2l0ZSUyMGJhY2tncm91bmR8ZW58MHx8MHx8&w=1000&q=80.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 20px;
    text-align: center;
    color: #333333;
}

p {
    margin: 20px;
    font-size: 18px;
    color: #555555;
    text-align: center;
}

form {
    margin: 20px auto;
    max-width: 400px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #cccccc;
    text-align: center;
}

label {
    font-size: 18px;
    color: #333333;
    display: block;
    margin-bottom: 10px;
}

input[type="text"] {
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #f2f2f2;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4a90e2;
    color: #ffffff;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    box-sizing: border-box;
}

input[type="submit"]:hover {
    background-color: #70a8ff;
}

button {
    background-color: #4a90e2;
    color: #ffffff;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

button:hover {
    background-color: #70a8ff;
}
