/* Shared styles for all pages */
body {
  background-image: url('https://cdn2.vectorstock.com/i/1000x1000/33/11/background-blue-abstract-website-pattern-vector-3523311.jpg');
  background-size: cover;
  background-position: center;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

h1 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 32px;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  color: #333;
  background-color: #f2f2f2;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
  outline: none;
  background-color: #fff;
}

input[type="submit"] {
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
  border: none;
  background-color: #f44336;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

input[type="submit"]:hover {
  background-color: #d32f2f;
}

.error {
  color: red;
  margin-top: 10px;
  font-size: 14px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

/* Specific styles for each page */
/* Login page */
.login input[type="submit"] {
  background-color: #4CAF50;
}

.login input[type="submit"]:hover {
  background-color: #3e8e41;
}

/* Registration page */
.registration input[type="submit"] {
  background-color: #0077be;
}

.registration input[type="submit"]:hover {
  background-color: #005ea6;
}

.forgot-password {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  color: #fff;
}

.forgot-password a {
  color: #fff;
  text-decoration: underline;
}

.error {
  color: red;
  margin-top: 10px;
  font-size: 14px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}