body {
background-image: linear-gradient(to right bottom, #9ad2cb, #8bc5bf, #7cb7b4, #6eaaab, #609e9f);
font-family: 'Montserrat', sans-serif;
color: #333;
margin: 0;
padding: 0;
}

.container {
max-width: 500px;
margin: 0 auto;
padding: 30px;
background-color: rgba(255, 255, 255, 0.9);
border-radius: 10px;
box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

h1 {
text-align: center;
margin-top: 0;
margin-bottom: 40px;
font-size: 36px;
color: #2e2e2e;
text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

form {
display: flex;
flex-direction: column;
}

label {
font-weight: bold;
margin-bottom: 10px;
color: #2e2e2e;
}

input[type="text"] {
font-size: 16px;
padding: 12px;
border-radius: 8px;
border: none;
background-color: #f5f5f5;
margin-bottom: 20px;
color: #2e2e2e;
}

input[type="text"]:focus {
outline: none;
background-color: #fff;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

input[type="submit"] {
background-color: #fc5185;
color: #fff;
font-size: 16px;
padding: 12px;
border-radius: 8px;
border: none;
cursor: pointer;
transition: background-color 0.3s ease;
text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}

input[type="submit"]:hover {
background-color: #fa4255;
}

button {
background-color: #2d4059;
color: #fff;
font-size: 18px;
padding: 12px;
border-radius: 8px;
border: none;
cursor: pointer;
transition: background-color 0.3s ease;
margin-top: 20px;
text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}

button:hover {
background-color: #35495e;
}

.error {
color: red;
margin-top: 10px;
font-size: 14px;
text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}